
  behaviors:
    SoccerTwos:
      trainer_type: poca
      hyperparameters:
        batch_size: 2048
        buffer_size: 20480
        learning_rate: 0.0003
        beta: 0.005
        epsilon: 0.2
        lambd: 0.95
        num_epoch: 3
        learning_rate_schedule: constant
        beta_schedule: constant
        epsilon_schedule: constant
      network_settings:
        normalize: false
        hidden_units: 512
        num_layers: 2
        vis_encode_type: simple
        memory: null
        goal_conditioning_type: hyper
        deterministic: false
      reward_signals:
        extrinsic:
          gamma: 0.99
          strength: 1.0
          network_settings:
            normalize: false
            hidden_units: 128
            num_layers: 2
            vis_encode_type: simple
            memory: null
            goal_conditioning_type: hyper
            deterministic: false
      init_path: null
      keep_checkpoints: 5
      checkpoint_interval: 500000
      max_steps: 50000000
      time_horizon: 1000
      summary_freq: 10000
      threaded: false
      self_play:
        save_steps: 50000
        team_change: 200000
        swap_steps: 2000
        window: 10
        play_against_latest_model_ratio: 0.5
        initial_elo: 1200.0
      behavioral_cloning: null
